//
// Visibility Helper Classes
//

@if $use-helper-visibility-styles == true {

    .is-hidden {
        display: none;
    }

    .is-visible {
        display: block;
    }

    .visually-hidden {
      //later @include visually-hidden;
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: none;
      white-space: nowrap;
    }
}
