//
// Position Helper Classes
/// @require {Boolean} $use-helper-position-styles - base variable in Settings
/// @see  /Settings/base-options.scss - All base options
//

@if $use-helper-position-styles == true {

  .position {

    &--relative {
      position: relative;
    }

    &--absolute {
      position: absolute;
    }

    &--static {
      position: static;
    }

    &--fixed {
      position: fixed;
    }

  }

}
