//
// Colour Classes
//

@if $use-color-classes == true {

	$color-list: (
		alpha $color-alpha,
		bravo $color-bravo,
		twitter $color-twitter,
		error $color-error,
		warning $color-warning,
		success $color-success
	);

	@each $name, $color in $color-list {

		.color--#{$name} {
			color: $color;
		}

		.background--#{$name} {
			background-color: $color;
		}

	}

}
