//
// Images Positioning Helper Classes
//

@if $use-image-position-classes == true {
	.image {

		&--right {
	    float:right;
	    margin-bottom: $base-spacing-unit;
	    margin-left: $base-spacing-unit;
		}

		&--left {
	    float:left;
	    margin-right: $base-spacing-unit;
	    margin-bottom: $base-spacing-unit;
		}

		&--center {
		  display: block;
		  margin-right: auto;
		  margin-left: auto;			
		  margin-bottom: $base-spacing-unit;
		}

	}
}
