//
// Breakpoints variables list
/// @group Breakpoints
/// @type Map
/// @see {function} breakpoints
//

// Breakpoints
$breakpoints-config: (
  tiny: (
    xs: 320px,
    sm: 480px,
    md: 540px,
    lg: 640px
  ),
  small: (
    xs: 768px,
    sm: 800px,
    md: 900px,
    lg: 960px
  ),
  medium: (
    xs: 1024px,
    sm: 1280px,
    md: 1366px,
    lg: 1440px
  ),
  large: (
    sm: 1600px,
    md: 1680px
  ),
  huge: (
    xs: 1920px
  )
);
