//
// Colors variables map
/// @group infinite-map
/// @access public
/// @require {Function} color
/// @example background-color: color(brand,dark) @return {Color} // #652d90
/// @example color: color(default) @return {Color} // #fff
//

$colors-config: (
  default: #fff,
  brand: (
  	dark: #652d90,
    dark-light: #f05523,
  	light: #faac18
  ),
  social: (
    twitter: #1da1f2,
    facebook: #3b5998,
    googleplus: #dd4b39,
    instagram: #c13584,
    linkedin: #0077b5
  )
);


// Colors variables list

$color-base-background: #fff;
$color-base-text: #000;
