//
// Fonts and Text Settings
//

// Base Font Families
$base-font-family:  'Open Sans',Arial,sans-serif;
$base-font-secondary: "Times New Roman", Times, serif;

// Base font-sizes and line-height
$base-font-size:  16px !default;
$base-line-height: 1.6;

// font-sizes list
$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-large: 24px;
$font-size-x-large: 32px;
$font-size-xx-large: 48px;
$font-size-xxx-large: 64px;
$font-size-xxxx-large: 96px;

// Base font-weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;
