//
/// @group Fonts
/// @access public
/// @param {string} $lang-code
/// @param {string} $font-family
/// @param {string} $font-size
/// @example body{ @include fonts('ka','bpg-nino-mtavruli',18px) }
///      @return
///              html[lang="ka"]{ body{ font-family: 'bpg-nino-mtavruli; font-size: 18px;} }
//
@mixin fonts($lang-code: null, $font-family: null, $font-size: null){
  $lang-list: "ka","en";
  @if(contains($lang-list,$lang-code)){
    html[lang="#{$lang-code}"] &{
      @if(not is-number($font-family)){
        font-family: $font-family;
      }

      @if(is-number($font-family) or $font-size != null){
        @if($font-size == null){
          $font-size: $font-family;
        }
        font-size: $font-size;
      }
    }
  }
}
