//
// Global styling
//

html {
    font-size: $base-font-size;
    line-height: $base-line-height;
    overflow-y: scroll;
    min-height: 100%;
}

body {
    font-family: $base-font-family;
    text-rendering: optimizeLegibility;
    background-color: $color-base-background;
    color: $color-base-text;

    @if $use-font-smoothing == true {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

}
