* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-shadow:none;
  box-sizing: border-box;
  &:after,&:before{
    box-sizing: border-box;
  }
}
html{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
input, button{
  border:none;
  box-shadow: none;
  padding: 0;
  border-radius: 0;
}
input[type=submit],
input[type=reset],
input[type=button],
button {
  user-select: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,abbr{
  text-decoration: none;
  &:hover,&:focus{
    text-decoration: none;
  }
}
li{
  list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
img{
  user-select: none;
  background-color: transparent;
}


//form
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
 -webkit-appearance: none;
 -moz-appearance:    none;
 appearance:         none;
  background-clip: border-box;
  margin: 0;
  outline: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

input[type='checkbox'],
input[type='radio'] {
  width: auto;
  height: auto;
}

input[type='checkbox'] {
  -webkit-appearance: checkbox;
  -moz-appearance:    checkbox;
  appearance:         checkbox;
}

input[type='radio'] {
  appearance: radio;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

// remove dropdown for IE10+
select::-ms-expand {
  display: none;
}

// remove IE11 select element selected option state
select:focus::-ms-value {
  background-color: transparent;
  color: inherit;
}

// Allow only vertical resizing of textareas
textarea {
  resize: vertical;
}

// remove search controls
input[type='search']::-webkit-search-decoration {
  display: none;
}


// button
button {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

button,
.button {
  cursor: pointer;
  display: inline-block;
  font: normal 16px/1 sans-serif;
  outline: 0;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  width: auto;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// disabled states
[disabled],
[disabled] * {
  box-shadow: none;
  cursor: not-allowed;
  user-select: none;
}

//Removing input background color

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill
{
    &, &:hover, &:focus, &:active
    {
        -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    }
}
